@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    outline: 0;
}

.container {
    background: #0D0D0D;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: #262626;
    width: 350px;
    padding-top: 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.card img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.card h1 {
    color: #F2F2F2;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
}

.card h4 {
    color: #7B8C3E;
    font-size: 14px;
}

.card p {
    color: #fff;
    font-size: 12px;
    padding-top: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.links a {
    color: #fff;
    background: #737373;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a:hover {
    background: #7B8C3E;
    box-shadow: #262626 25px 10px 25px 10px;
}

/* deploy is bugged */